@page "/RecordLocalWeather"
@rendermode InteractiveServer
@using WeatherSystem

<PageTitle>Record Local Weather</PageTitle>

<h1>Record Local Weather</h1>

@code {
    // Don't put any HTML tags inside a @code {} block
    [SupplyParameterFromForm(FormName = "PickFile")] // <-- Only valid on Properties or Indexers, not fields
    private string? SelectedCsv { get; set; }
    private bool DisableWeatherForm => string.IsNullOrWhiteSpace(SelectedCsv);

    private IEnumerable<string>? Files;

    [SupplyParameterFromForm(FormName="RecordData")]
    private Weather? NewInfo { get; set; }
    private EditContext? WeatherContext { get; set; }

    protected override void OnInitialized()
    {
        Files = Directory.EnumerateFiles("Data", "*.csv");
        NewInfo = new(); // This is an empty Weather record
        WeatherContext = new(NewInfo);
    }
    private string? UserFeedback;
    private void RecordWeatherMeasurements()
    {
        try
        {
            // For your exercise, you can just hard-code the path to the file
            // BUT it must be an App-relative path (i.e.: relative to the root of your application) 
            CsvRepository.AddWeatherReport(SelectedCsv!, NewInfo!);

            // Give some kind of user feedback
            UserFeedback = "Data successfully recorded.";
            // Reset the weather object
            NewInfo = new();
            // Sometimes you will need to tell the browser that the data model has updated
            @* StateHasChanged(); *@
        }
        catch(Exception ex)
        {
            // This is adequate during development, but you should have friendly responses
            // in a production environment
            UserFeedback = $"An unexpected error happened: {ex.Message}";
        }
    }
}

<EditForm Model="this" FormName="PickFile">
    <label>
        Select a file
        <InputSelect @bind-Value="SelectedCsv" autofocus>
            <option value="">[none]</option>
            @foreach (var file in Files!)
            {
                <option value="@file">@Path.GetFileName(file)</option>
            }
        </InputSelect>
    </label>
    <button type="submit">Select CSV File</button>
</EditForm>

@if(string.IsNullOrWhiteSpace(SelectedCsv))
{
    <p>Please select a destination file for the record before proceeding to enter Weather information.</p>
}
else
{
    <p>Use the following form to record your weather station measurements.</p>
}
<fieldset disabled="@DisableWeatherForm">
    @if(!string.IsNullOrWhiteSpace(UserFeedback))
    {
        <blockquote>@UserFeedback</blockquote>
    }
@* My fieldset is wrapping my EditForm to allow my disabling of the entire form in all browsers   *@
<EditForm EditContext="WeatherContext" FormName="RecordData" OnValidSubmit="RecordWeatherMeasurements">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Date/Time of Measurement
        <InputDate @bind-Value="NewInfo!.Time" Type="InputDateType.DateTimeLocal" />
    </label>
    <label>
        Temperature (°C)
        <InputNumber @bind-Value="NewInfo!.Temperature" />
    </label>
    <label>
        Wind Speed (km/h)
        <InputNumber @bind-Value="NewInfo!.WindSpeed" />
    </label>
    <label>
        Wind Gusts (km/h)
        <InputNumber @bind-Value="NewInfo!.WindGusts" />
    </label>
    <button type="submit">Record Information</button>
</EditForm>
</fieldset>






<fieldset>
    <legend>Diagnostics <i>- remove after completed</i></legend>
    <style>fieldset code { border: solid thin grey; padding: 0 .5em; }</style>

    <ul>
        <li><b>@nameof(SelectedCsv)</b>: <code>@SelectedCsv</code></li>
        <li><b>@nameof(NewInfo)</b>: <code>@NewInfo</code></li>
    </ul>
</fieldset>